<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.goott.tour.board.BoardDAOInterface">
	<select id="getAllRecord" resultType="kr.goott.tour.board.BoardVO">
		select num, rownum no, userid, subject, to_char(regdate,'YYYY-MM-DD') regdate, hit
		from gt_freeboard where commuPage=#{commuPage}
	</select>
	<select id="boardTotalRecord" resultType="int">
		select count(num) totalRecord from gt_freeboard where commuPage=#{commuPage}
	</select>
</mapper>