<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.goott.tour.reply.ReplyDAOInterface">
    <select id="commentCount" resultType="int">
        SELECT COUNT(num)
        FROM gt_feedback
    </select>
    <select id="commentList" resultType="kr.goott.tour.reply.ReplyVO">
        SELECT num FROM gt_feedback where sc_num=#{sc_num}
    </select>
    <insert id="commentInsert" parameterType="kr.goott.tour.reply.ReplyVO">
        INSERT INTO gt_feedback (num, sc_num, goodcode, content, userId)
        VALUES(gt_reply_sq.nextVal,#{sc_num},#{goodCode},#{content},#{userId}); 
    </insert>
    <update id="commentUpdate" parameterType="kr.goott.tour.reply.ReplyVO">
        UPDATE gt_feedback
        SET CONTENT = #{content}
        WHERE NUM = #{num}
    </update>
    <delete id="commentDelete" parameterType="int">
        DELETE FROM gt_feedback WHERE num = #{num}
    </delete>
</mapper>