<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.goott.tour.HomeDAOInterface">
  	<select id="select_list" resultType="kr.goott.tour.product.ProductVO">
  		select num, goodCode, travelType, goodName, startArea, destination, travelTerm, goodData, price, reserMin, reserNum, assure1, assure2, assure3, regDate 
		from gt_product
		where rownum <![CDATA[ <= ]]> 9
		order by goodCode desc
  	</select>
  </mapper>