<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.goott.tour.product.ProductDAOInterface">
	<select id="getAllRecord" resultType="kr.goott.tour.product.ProductVO">
		select num, goodCode, travelType, goodName, startArea, destination, travelTerm, goodData, price, reserMin, reserNum, assure1, assure2, assure3, regDate 
		from gt_product
	</select>
	<select id="selectRecord" resultType="kr.goott.tour.product.ProductVO">
		select num, goodCode, travelType, goodName, startArea, destination, travelTerm, price  
		from gt_product
		where goodCode=#{goodCode}
	</select>
	<select id="selectAllSchedule" resultType="kr.goott.tour.product.ScheduleVO">
		select num, goodCode, to_char(startDate, 'YYYY-MM-DD') startDate, to_char(backDate, 'YYYY-MM-DD') backDate  
		from gt_schedule
		where goodCode=#{goodCode}
	</select>
</mapper>