<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.goott.tour.register.RegisterDAOInterface">
	<select id="idCheck" parameterType="String" resultType="int">
		select count(userId) from gt_register where userId=#{param1}
	</select>
	<insert id="insertRecord" parameterType="kr.goott.tour.register.RegisterVO">
		insert into gt_register(num, userId, userPwd, userName, birthDay, tel, zipCode, addr, detailAddr, email, memtype, regdate)
		values(gt_member_sq.nextval, #{userId}, #{userPwd}, #{userName}, #{birthDay}, #{tel}, #{zipCode}, #{addr}, #{detailAddr}, #{email}, #{memType}, sysdate)
	</insert>
	<select id="login" resultType="kr.goott.tour.register.RegisterVO">
		select userId, userPwd, userName, memType from gt_register
		where userId=#{userId} and userPwd=#{userPwd}
	</select>
	<select id="selectRecord" resultType="kr.goott.tour.register.RegisterVO">
		select num, userId, userPwd, userName, to_char(birthDay, 'YYYY-MM-DD') birthDay, tel, zipCode, addr, detailAddr, email, memtype, regdate
		from gt_register
		where userId=#{userId}
	</select>
	<update id="updateRecord" parameterType="kr.goott.tour.register.RegisterVO">
		update gt_register set tel=#{tel}, zipCode=#{zipCode}, addr=#{addr}, detailAddr=#{detailAddr}, email=#{email}
		where userId=#{userId} and userPwd=#{userPwd}
	</update>
</mapper>